<ion-view>
    <ion-nav-title>
        {{vm.title}}
    </ion-nav-title>
    <ion-content padding="true" class="has-header">
        <form id="game-form2" class="list" ng-if="vm.isDm">
            <label class="item item-input">
                <span class="input-label">Aspect</span><textarea placeholder="Add you an aspect!" ng-model="vm.description"></textarea>
            </label>
            <label class="item item-input">
                <span class="input-label">Apply To</span>
                <input type="text" 
                placeholder="Who should this aspect apply to?" ng-model="vm.appliesTo"></textarea>
            </label>
            <button class="button button-positive button-block button-outline" ng-click="vm.add()">Add</button>
        </form>

        <ion-list>
            <div ng-repeat="(key, value) in vm.groupedAspects">
                <ion-item class="item-divider">{{key}}</ion-item>
                <ion-item class="item-icon-right" ng-repeat="aspect in value">{{aspect.description}}
                    <i class="icon ion-close icon-accessory"></i>
                </ion-item>
            </div>            
        </ion-list>
    </ion-content>
</ion-view>